/*-- LINKS/ANCHORS --*/
a {
  color:              #003087;
  border-bottom:      2px solid #003087;
  line-height:        1.5em;
}
a:hover {
  border-bottom:      0px;
}

/*-- PADDING/MARGIN --*/
.remark-slide-content {
  padding: 1em 1em !important;
  margin: 0 !important;
}

/*-- HEADINGS --*/
.remark-slide-content h1 {
  color:              #003087;
  font-size:          26px;
  line-height:        1.2;
  margin-top: 0;
}
.remark-slide-content h2 {
  font-size:          22px;
  color:              #003087;
  line-height:        1.2;
  margin-top: 0;
}
.remark-slide-content h3 {
  font-size:          18px;
  color:              #003087;
  margin-top: 0;
}
.remark-slide-content h4 {
  font-size:          16px;
  color:              #0072CE;
}

/*-- PARAGRAPH TEXT --*/
.remark-slide-content {
  font-size:          1.5rem;
  line-height:        1.3;
}

/*-- LISTS --*/
li {
  line-height:        1.5em;
}

/*-- TABLES --*/
table {
  font-size:          1.2rem;
  border-collapse:    collapse;
}
table th, table td {
  padding:            4px 8px;
  line-height: 1.1;
}

/*-- HORIZONTAL BARS --*/
hr {
  content:            none;
  display:            block;
  border:             none;
  background-color:   #231F20;
  height:             0.08em;
}

/*-- FOOTNOTE --*/
.footnote {
  position:           absolute;
  bottom:             2em;
  padding-right:      4em;
  font-size:          70%;
  line-height:        1.2em;
}

/*-- SLIDE NUMBER --*/
.remark-slide-number {
  color:              #000000;
}

/*-- CODE --*/
.remark-code, .remark-inline-code {
  font-size:          90%;
  font-weight:        400;
  color:              #231F20;
  background:         #E8EDEE;
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
}
.remark-code-line-highlighted {
  background-color:   #E8EDEE;
}
pre {
  border:             none;
  box-shadow:         2px 2px 2px 2px #eee;
  padding:            0.1em;
  background:         none !important;
  overflow-x:         auto;
  border-radius:      1px;
}
pre code {
  background:         none;
  font-size:          16px !important;
}

/*-- BLOCK QUOTE --*/
blockquote {
  border-left:        solid 5px #E8EDEE;
  padding-left:       1em;
}

/*-- INVERSE SLIDES --*/
.inverse {
  background-color:   #0072CE;
  color:              var(--PaleGrey);
  text-shadow:        none;
}
.inverse h1{
  font-size:          40px;
}
.inverse h1, .inverse h2, .inverse h3 {
  color:              #FFFFFF;
}
.inverse hr {
  background-color:   var(--PaleGrey);
}
.inverse a {
  color:              var(--PaleGrey);
  border-bottom:      2px solid white;
}
.inverse a:hover {
  border-bottom:      none;
}

/*-- TITLE SLIDE --*/
.title-slide h1 {
  color:              #003087;
  font-size:          38px;
}
.title-slide .remark-slide-number {
  display:            none;
}

/*-- TEXT COLOR CLASSES --*/
.blue         { color: var(--Blue) }
.green        { color: var(--Green) }
.pink         { color: var(--Pink) }
.red          { color: var(--Red) }
.warmyellow   { color: var(--WarmYellow) }
.palegrey     { color: var(--PaleGrey) }
.my-blue      { color: var(--my-blue) }
.my-yellow    { color: var(--my-yellow) }
.my-gold      { color: var(--my-gold) }
.my-red       { color: var(--my-red) }
.my-coral     { color: var(--my-coral) }
.my-pink      { color: var(--my-pink) }
.my-hot-pink  { background-color: #ff69b4 }

:root {
  --DarkBlue:           #003087;
  --Blue:               #003087;
  --BrightBlue:         #0072CE;

  --Black:              #231F20;
  --DarkGrey:           #425563;
  --MidGrey:            #768692;
  --PaleGrey:           #E8EDEE;
  --White:              #FFFFFF;

  --DarkGreen:          #006747;
  --Green:              #009639;
  --AquaGreen:          #00A499;

  --Purple:             #330072;
  --DarkPink:           #7C2855;
  --Pink:               #AE2573;
  --DarkRed:            #8A1538;
  --Red:                #DA291C;

  --my-blue:            #122140;
  --my-yellow:          #e5bf00;
  --my-gold:            #ae8f00;

  --my-coral:           #903030;
  --my-red:             #600018;
  --my-pink:            #c09090;
}

/*-- SIZE MODIFIERS --*/
.small   { font-size: 70%; }
.smaller { font-size: 60%; }
.tight {
  margin-top: 0.2em !important;
  margin-bottom: 0.2em !important;
}

/*-- COLUMN LAYOUTS --*/
.pull-left-narrow  { float: left; width: 20%; }
.pull-right-wide   { float: right; width: 75%; }
.pull-left-wide    { float: left; width: 75%; }
.pull-right-narrow { float: right; width: 20%; }

/*-- SCROLLABLE TABLES --*/
.scrollable-table {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  display: block;
  padding-right: 10px;
}
.scrollable-table:focus-within {
  overscroll-behavior-y: contain;
}

/*-- SCROLLABLE IMAGES --*/
.scrollable-image {
  max-height: 450px; /* or adjust as needed */
  overflow: auto;
  display: block;
  border: 1px solid #ccc;
  padding: 4px;
}